body{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  margin-top: 15px;
  background: #b5d9ef;
  background: -moz-linear-gradient(top, #b5d9ef 0%, #d1d2d3 100%);
  background: -webkit-linear-gradient(top, #b5d9ef 0%,#d1d2d3 100%);
  background: linear-gradient(to bottom, #b5d9ef 0%,#d1d2d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d9ef', endColorstr='#d1d2d3',GradientType=0 );
  }

  .login{
    width: 30%;
    padding-top: 20px;
    height: 200px;
    border: 2px solid #e7e7e7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
  }

  @media (max-width: 1200px){
    .login{
      width: 60%;
    }
  }

  @media (max-width: 992px){
    .login{
      width: 90%;
    }
  }

  .brand{
    margin-top: 56px;
  }

  .brand h1{
    font-size: 80px;
    color: #e7e7e7; /*#76b9e1;*/
  }

  .sidebar-brand{
    width: 100%;
  }
  .sidebar-brand h1{
    text-align: center;
    font-size: 40px;
    color: #e7e7e7; 
    margin-bottom: -7px;
  }

@media (max-width: 1200px){
  .sidebar-brand h1{
    font-size: 30px;
  }
}  

@media (max-width: 992px){
  .sidebar-brand{
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.navbar-default{
  background-color: transparent;
  text-align: center;
  border-width: 2px;
  border-radius: 0;
  padding-top: 15px;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: #009f50;
}
.navbar-default .navbar-nav > li > a:focus{
  text-decoration: underline;
}
.navbar-default .navbar-nav > .open > a{
  background-color: #009f50 !important;
}

.dropdown-menu{
  text-align: center;
  background-color: #f6fafd;
  width: 100%;
}

.content{
	height: 100%;
  padding-left: 3%;
}

.confirm-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000;
}

.badge:hover{
  cursor: pointer;
}
.panel, .form-control{
  background-color: #f6fafd;
}

.borderRight{
  border-right: 1px solid #eee !important;
}    
.borderLeft{
  border-left: 1px solid #eee !important;
}    
.borderBottom{
  border-bottom: 1px solid #eee !important;
}    
.borderTop{
  border-top: 1px solid #eee !important;
}
.borderAll{
  border: 1px solid #eee;
}
.tableBody{
  padding: 0;
  width: 14.2857%;
  display: inline-block;
  float: left;
  position: relative;
}
@media (max-width: 992px){
  .tableBody{
    width: 100%;
  }
}

.fullDay{
  margin-bottom: 10px;
}
.dateDay{
  margin-bottom: 0;
}

.employment{
  min-height: 50px;
  padding-top: 5px;
  padding-right: 5px;
}
.employment:hover{
  cursor: pointer;
}

.templateColorOption:hover{
  cursor: pointer;
  background-color: inherit !important;
}
.delete:hover{
  cursor: pointer;
  color: #9f0000;
}
.approved{
  color: #009f50;
}
.approve:hover{
  cursor: pointer;
  color: #009f50;
}

.requestDate{
  width: 60% !important;
}
.requestTime{
  width: 40% !important;
}
.input-group-addon{
  min-width: 80px !important;
}
.logo-wrapper{
  width: 100%;
}
.logo{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
}
@media (max-width: 992px){
  .logo-wrapper{
    display: none;
  }
}

.scheduleMakerUsers{
  margin-top: 50px;
}

.selectedUser a{
  color: #009f50;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 2px solid #9f0000;
}